body {
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*top page-Section*/

.copa-america {
    display: flex;
    background-color: #2D25A2;
    height: 677px;
    width: 100vw;
}

.copa-america:hover .copa-area2 img {
    transform: skew(10deg, 5deg);
}

.copa-area1 {
    position: absolute;
    height: 230px;
    width: 485px;
    top: 207px;
    left: 156px;
}

.copa-area2 img {
    position: absolute;
    top: 153px;
    right: 141px;
    height: 438px;
    width: 556px;
    transition: transform 2s;
}

.copa-title {
    color: white;
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
    margin: 0;
    margin-bottom: 10px;
}

button {
    height: 44px;
    width: 168px;
    background-color: #E02C6D;
    font-size: 16px;
    cursor: pointer;
    border: none;
}

button a {
    color: white;
    text-decoration: none;
}

button:hover {
    background-image: linear-gradient(rgb(214, 1, 37), rgb(235, 100, 123));
}

.fa-arrow-right {
    margin-left: 10px;
}


/*Player card -Section*/

.players-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 15px;
    grid-gap: 0px 33px;
    margin-left: 180px;
    margin-right: 180px;
}

.players-database {
    width: 300px;
    height: 474px;
    border: 15px solid rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 84px;
}

.players {
    display: flex;
    text-align: center;
}

.players img:hover {
    transform: scale(.5);
}

.players img {
    transition: 2s;
    cursor: pointer;
}

.players-database .players img {
    width: 300px;
    height: 256px;
    display: flex;
    justify-content: center;
}

.players-info {
    width: 300px;
    height: 154px;
}

.player-name {
    font-weight: 900px;
    font-size: 24px;
    line-height: 40px;
}


/*Highlights page-Section*/

.highlights {
    display: flex;
    height: 677px;
    width: 100%;
}

.highlights-area {
    width: 466px;
    height: 309px;
    position: absolute;
    top: 3000px;
    left: 182px;
    margin-top: 100px;
}

.highlights-title {
    width: 500px;
    height: 120px;
    color: black;
    font-size: 48px;
    font-weight: 500;
    line-height: 60px;
    margin-top: 40px;
}

.highlights-image img:hover {
    transform: skew(-10deg, -5deg);
}

.highlights-image img {
    width: 567px;
    height: 427px;
    position: absolute;
    top: 2889px;
    left: 717px;
    transition: transform 2s;
    margin-top: 250px;
}

.higlights-button {
    height: 50px;
    width: 200px;
    background-color: #E02C6D;
    font-size: 16px;
    position: absolute;
    cursor: pointer;
    border: none;
}

.highlights-info {
    position: absolute;
    top: 360px;
    left: 150px;
}


/*Legend-Section*/

.legends-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0px 103px;
    margin-left: 280px;
    margin-right: 280px;
}

.legends-database {
    width: 300px;
    height: 400px;
    border: 15px solid rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 40px;
}

.legends {
    display: flex;
    align-items: center;
}

.legends img {
    transition: 2s;
    cursor: pointer;
}

.legends img:hover {
    transform: scale(0.5);
}

.legends-database .legends img {
    width: 300px;
    height: 256px;
    display: flex;
    justify-content: center;
}

.legends-info {
    width: 300px;
    height: 140px;
}

.legend-name {
    font-weight: 900px;
    font-size: 24px;
    line-height: 40px;
}


/*Footer-Section*/

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

footer .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 213px;
    width: 483.87px;
}

footer .logo img {
    width: 100%;
    height: 110px;
    margin: 20px;
    margin-top: 40px;
    transition: 2s;
}

footer .logo .icons {
    display: flex;
    margin: 20px 0px;
}

.logo img:hover {
    transform: scale(1.3);
}

footer .logo .icons .icon {
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 32px 32px;
    border-radius: 50%;
    margin-right: 14px;
    background-color: rgba(128, 128, 128, 0.288);
    border-radius: 50%;
}

footer .logo .icons a {
    text-decoration: none;
    color: #969BAB;
    font-size: 17.07px
}

footer p {
    font-size: 18px;
    color: black;
}


/*Media queries*/

@media only screen and (max-width: 688px) {
    .copa-america {
        display: flex;
        flex-direction: column;
        height: 1235px;
    }
    .copa-area1 {
        position: absolute;
        left: 100px;
    }
    .copa-area2 {
        height: 200px;
        position: absolute;
        top: 500px;
        left: 720px;
    }
    .players-grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .highlights-area {
        position: absolute;
        top: 8200px;
        left: 100px;
    }
    .highlights img {
        height: 248px;
        width: 328px;
        position: absolute;
        top: 8400px;
        left: 100px;
    }
    .legends-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}


/*Mobile device*/